@import url('http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif');



$originalFont:Georgia, serif;
$originalGreen:#538b5a;
$originalBlue:#1686C1;
$originalBrown:#852406;
$originalPurple:#6D73C2;
$originalDarkBlue:#0076A3;
$originalNavyBlue:rgb(50,50,70);
$originalNavy:#2e5d70;
$originalYellow:#FFBA00;
$originalDarkGray:#515155;
$originalGray:#95969c;
$originalLightGray:#f1eee6;
$originalWhite:#fbfaf8;
$originalBlack:#333333;
$media-WidthMob:300px;
$media-widthTab:700px;
$media-widthDes:1000px;
