@media (min-width: 1000px){
  //   // ##################
  //   // index.html
  //   // ################

  header {
    height: 55vh;
    article {
    height: 55vh;
    }
    details {
      display: none;
    }
    
  }


















}