@media (min-width: $media-widthDes){
  //   // ##################
  //   // index.html
  //   // ################

  header {
    height: 60vh;
    article {
    height: 60vh;
    display: flex;
    flex-direction: column;
    section {
      display: flex;
      flex-direction: column;
      // align-items: center;
      justify-content: flex-start;
    }
    }
    details {
      display: none;
    }
    // section > ul,
    // aside{
    //   display: flex;
    //   justify-content: flex-end;
    //   padding-top: 0;
    // }

    figure {
      img {
        width: 25vh;
        height: 25vh;
      }
    }
  }

  body > .navigation {
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    ul{
      display: flex;
      flex-direction: row;
      column-gap: 15vh;
      border-bottom: 1px solid $originalGray;
      padding-bottom: 3vh;
      li {
        list-style: none;
        a {
          text-decoration: none;
          font-size: 18px;
          color: $originalGray;
          transition: .4s;
        }
      }
    }
    a:hover {
      border-top: 2px solid orange;
    }
  }

  .about {
    p {
      width: 85%;
    }
  }
  .feature {
    row-gap: 3vh;
    a {
      padding: 1.5%;
    }
  }

  .menu {
    height: 45vh;
    article {
    height: 45vh;
    }
  }

  .bar {
    display: none;
  }

  // ##################
  // menu.html
  // ################

  .menushtml {
    header {
      height: 55vh;
      article {
      height: 55vh;
      }
      h2 {
        font-size: 50px;
      }
    }
    .navigation {
      display: flex;
      justify-content: center;
      padding-top: 5vh;
      ul{
        display: flex;
        flex-direction: row;
        column-gap: 15vh;
        border-bottom: 1px solid $originalGray;
        padding-bottom: 3vh;
        li {
          list-style: none;
          a {
            text-decoration: none;
            font-size: 18px;
            color: $originalGray;
            transition: .4s;
          }
        }
      }
      a:hover {
        border-top: 2px solid orange;
      }
    }
  }

  .menupage {    
    img {
      width: 45vh;
      height: 25vh;
      object-fit: cover;
    }
  }

  // ##################
  // giftcards.html
  // ################

  .giftcardhtml {
    header {
      height: 55vh;
      article {
      height: 55vh;
      }
      h2 {
        font-size: 50px;
      }
    }
    .navigation {
      display: flex;
      justify-content: center;
      padding-top: 5vh;
      ul{
        display: flex;
        flex-direction: row;
        column-gap: 15vh;
        border-bottom: 1px solid $originalGray;
        padding-bottom: 3vh;
        li {
          list-style: none;
          a {
            text-decoration: none;
            font-size: 18px;
            color: $originalGray;
            transition: .4s;
          }
        }
      }
      a:hover {
        border-top: 2px solid orange;
      }
    }
  }

  // ##################
  // contact.html
  // ################

  .contactshtml {
    header {
      height: 55vh;
      article {
      height: 55vh;
      }
      h2 {
        font-size: 50px;
      }
    }
    .navigation {
      display: flex;
      justify-content: center;
      padding-top: 5vh;
      ul{
        display: flex;
        flex-direction: row;
        column-gap: 15vh;
        border-bottom: 1px solid $originalGray;
        padding-bottom: 3vh;
        li {
          list-style: none;
          a {
            text-decoration: none;
            font-size: 18px;
            color: $originalGray;
            transition: .4s;
          }
        }
      }
      a:hover {
        border-top: 2px solid orange;
      }
    }
  }
  .contact {
    article {
      column-gap: 5vh;
    }
    iframe {
      width: 80vh;
      height: 55vh;
    }
  }

  // ##################
  // reservations.html
  // ################

  .reservationshtml {
    header {
      height: 55vh;
      background-position: bottom;
      article {
      height: 55vh;
      }
      h2 {
        font-size: 50px;
      }
      .navigation {
        display: flex;
        justify-content: center;
        padding-top: 5vh;
        ul{
          display: flex;
          flex-direction: row;
          column-gap: 15vh;
          border-bottom: 1px solid $originalGray;
          padding-bottom: 3vh;
          li {
            list-style: none;
            a {
              text-decoration: none;
              font-size: 18px;
              color: $originalGray;
              transition: .4s;
            }
          }
        }
        a:hover {
          border-top: 2px solid orange;
        }
      }
    }
    
    input, select, textarea {
      border: 2px solid $originalGray;
    }
    
    div.elem-group.inlined input {
      width: 33%;
    }
    
    textarea {
      height: 250px;
      width: 500px;
      color: $originalGray;
  
    }
    
    
    
    button {
      padding: 1%;
    }
    
    button:hover {
      color: orange;
      background-color: $originalWhite;
      border: 1px solid orange;
    }

    
  }

  .slide {
    height: 500px;
  }














}